

#header{
    height: 80px;
    box-shadow: 0px 8px 8px rgba(3, 3, 124, 0.2);
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 15px
}
.liens {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10%; 
}

.btn.btn-primary {
    background-color:rgb(3, 3, 124);
    transition: .4s ease-in-out ;
}

.btn.btn-primary:hover{
    background-color: white ;
    color:rgb(3, 3, 124);
    transition: .4s ease-in-out ;
    
}

.boite {
    background-color: rgba(3, 3, 124, 0.2);
    padding: 10px;
    max-width: 800px; /* Limite la largeur maximale tout en permettant à la boîte de rétrécir */
    align-items: center;
    flex: 1;
}

#image_nat {
    padding: 10px;
}

.boxTitle {
    text-align: center;
    font-weight: 700;
}

#resume {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}


body {
    font-family:'Segoe UI';
}

#bonjour { /* Remplacez #conteneur_parent par l'ID ou la classe réelle du conteneur parent */
    display: flex;
    flex-direction: row; /* ou column, selon votre disposition souhaitée */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    align-items: center; /* Centre les éléments enfants verticalement */
}

.logo_ecole {
    text-align: left;
    padding-left: 0px;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 2px solid black;
}

.annee, .ecole_texte {
    font-size: 17px;
}

#table_diplomes {
    margin-left: 10px;
    /* width: 640px; */
}

.pin {
    margin-right: 5px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
}






